
    @import url('https://fonts.googleapis.com/css?family=Quicksand');

* { 
box-sizing: border-box; 
}
html { height: 100%; }
body {
background-image: url('https://i.pinimg.com/originals/e0/14/19/e0141982b9f6e1c8794b85a21d77f806.jpg');
background-size: cover;
 margin: 0%;
 display: grid;
 font-family: "Quicksand";
 grid-template-columns: 5% auto 5%;
 grid-template-rows: 100px 80px auto 400px;
 grid-column-gap: 10px;
 grid-row-gap: 0;

}
h1 { margin: 0 }
#header, nav, #aside, main, footer {text-align: center }
#header, #primeira-nav, footer { grid-column-start: 1; grid-column-end: 4; }

#header{
    background-color: rgb(247, 239, 201, 0.8);
}

    #barra-pesquisa {
        display: inline-flex;
        text-align: center;
        font-size: medium;
        width: 45%;
        background-color: aliceblue;
        color: rgb(87, 82, 76);
        margin: 10px;

    }
    
    .grid-conteudo{
        display: flex;
        margin: 0 auto; 
        place-content: center;
        flex-wrap: wrap;
    }

    .img-item-magico{
        width: 25rem;
        height: 15rem;
        border-radius: 5%;

    }

        .img-rodape{
            width: 140px;
            height: 90px;
            border-radius: 5%;
        }

    .img-item-magico:hover {
        transform: scale(1.5);
    }
    .valor{
        font-weight: bolder;
        font-size: medium;
    }

    .footer{
        display: inline-flex;
        background-color: rgb(247,239, 201);
        justify-content: space-between;
        box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.4), inset 1px 1px 1px rgba(255, 255, 255, 0.4) ;
    }

    .botao{
        text-decoration: none;
        color: rgb(87, 87, 87);
    }

    .botao:hover {
        color:#ffa500;
    }

    .item-container {
        background-color: rgb(247, 239, 201, 0.8);
        padding: 50px;
        border-radius: 10px;
        margin: 15px;
    }

    #menu{
        display: flex;
        background-color: rgb(247, 239, 201, 0.8);
        align-items: center;
        justify-content: space-around;
        font-weight: bold;
        color: aliceblue;
        margin: 0%;
    }


